#cuerpo
{
    background-color:darksalmon;
    overflow-x: hidden;
}

.center{
    text-align: center;
    color: white;
    padding: 1rem;
    font-family: cursive;
    background-color:rgb(53, 185, 152);
}

.tamanio
{
    overflow: hidden;
    resize: none;
    width: 100%;
    overflow-y: auto;
}

.notas
{
    background-color:rgba(255, 255, 255, 0.705);
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

.botones
{
    margin-top: 40px;
}

.none{
    display: none;
}
